body{
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: table-cell;
    margin: 0 0;
	vertical-align: middle;
	height: 100%;
}

html {
    display: table;
    margin: auto;
    height: 100%;
}

div{
	border-style:solid;
	border-color:black;
	padding:20px;
	color:white;
	background-color: #363a3d;
	border-style: solid;
	border-radius: 10px;
	border-color: white;
	font-size: 1.3rem;
	display:inline-block;
	margin-left:auto;
}